- content_for :title do
  = @person.name

%header
  .container
    .row
      .col-md-12
        %h1= @person.name

.container
  .row
    .col-md-6
      .person-image.original
        = image_tag @person.image.url(:original)
    .col-md-6
      = @person.bio
  .row
    .col-md-12
      %h3 Stories
      = render partial: "stories/stories", object: @person.stories