- content_for :title do
  = @issue.title

%header
  .container
    .row
      .col-md-9
        %h1= @issue.title
        - if @issue.description?
          = @issue.description.html_safe
        .rating-box
          = rating_dot(@issue)
          = rating_info(@issue)
      .col-md-3
        .issue
          .issue-image.medium
            = image_tag @issue.cover_image.url(:medium), class: 'img-responsive'
            = badge(@issue)

.section
  .container
    .row
      .col-md-9
        - if @issue.pages.any?
          = render partial: "pages/carousel", locals: {collection_name: "issue", show_warning: @issue.blue?, pages: @pages}
      .col-md-3
        .row
          .col-md-12
            = render partial: "pages/pages", object: @pages

        -# .row
        -#   .col-md-12
        -#     - if @issue.description?
        -#       .description
        -#         = @issue.description.html_safe

= render partial: "site/footer"
