- content_for :title do
  = @issue.title

%header
  .container
    .row
      .col-md-9
        %h1= @issue.title
        - if @issue.description?
          = @issue.description.html_safe
        .rating-box
          = rating_dot(@issue)
          = rating_info(@issue)
      .col-md-3
        = render partial: "issues/featured_issue", locals: { issue: @issue }

.section
  .container
    .row
      .col-md-9
        - if @issue.pages.any?
          = render partial: "pages/carousel", locals: {collection_name: "issue", show_warning: @issue.blue?, pages: @pages}
      .col-md-3
        = render partial: "pages/pages", object: @pages
= render partial: "site/footer"
