%li.story.col-md-2.col-sm-3.col-xs-6{class: "length-#{story.length_category}"}
  = link_to story do
    .thumbnail
      = image_tag story.cover_image.url(:thumb)
    %h4
      = truncate(story.name, length: 30)

  - if person
    - coauthors = story.people.delete_if{|p| p ==person}
    - if coauthors.count < 3
      (with
      = coauthors.map{|coauthor| link_to coauthor.name, people_path(coauthor)}.join(", ").html_safe
      )
    - else
      (with others)
