- content_for :title do
  Stories

%header
  .container
    .row
      .col-md-12
        %h1 Stories
.container
  .row
    .col-md-12
      .filters
        = form_tag stories_path, :method => :get, class: 'form-inline' do
          Show me
          = select_tag :rating, options_for_select(Story.ratings.keys + ["unrated"], @rating), prompt: 'all', class: 'form-control input-sm'
          stories
          = submit_tag 'Filter', class: 'btn btn-default'
  .row
    .col-md-12
      .pagination-wrapper
        = paginate @stories
  .row
    .col-md-12
      - if @stories.any?
        = render partial: "stories/stories", object: @stories, locals: {person: nil, link: false}
      - else
        = "There are no stories like that."
  .row
    .col-md-12
      .pagination-wrapper
        = paginate @stories

= render partial: "site/footer"
