- content_for :title do
  = @story.name

.section
  .container
    %header
      %h1.story_title
        = @story.name
      .rating-box
        = rating_dot(@story)
        = rating_info(@story)
    .row
      .col-md-9
        - if @story.page_count == 1
          = image_tag @story.pages.first.image.url(:original), class: "img-responsive"
        - else
          = render partial: "pages/carousel", locals: {collection_name: "story", show_warning: @story.blue?, pages: @pages}
      .col-md-3
        - unless @story.page_count == 1
          .row
            .col-md-12
              = render partial: "pages/pages", object: @pages
        .row
          .col-md-12
            - if @story.description?
              .description
                = @story.description.html_safe
    .row.creators
      .col-md-12
        %h2 Creators
        .people
          %ul.people
            - @people.each do |person|
              %li.person
                = link_to person do
                  .person-image.thumb
                    = image_tag person.image.url(:thumb)
                  = person.name
    .row.related_stories
      .col-md-12
        %h3 More by the same creators
        = render partial: "stories/stories", object: @story.by_same_creators, locals: {person: false, link: false}

= render partial: "site/footer"
