- content_for :title do
  Workshops

%header
  .container
    .row
      .col-md-12
        %h1 Workshops
.section
  .container
    .row
      .col-md-8
        %p
          Funtime Comics has a long tradition of monthly workshops, running for over twenty years. Workshops are friendly and informal, and always involve a cuppa and a chat as well as drawing. Some people bring their own work in progress, others just paper and pens. We have a long tradition of jam comics and other collaborative work, so even if you don't have an idea ready to work on, we can usually provide a half-finished story you can contribute to.
        %p
          Newcomers are always welcome, and will be granted the respectful title of "New Boy" or "New Girl" until such time as they are deemed to be regulars.

        %h3 When
        %p
          Second Saturday of each month, starting around 1pm and finishing around 6pm.

        %h3 Where
        %p
          We're almost always at the Brighton Gallery. It's down the little side alley next to Paper Plus (same alleyway as Switch Cafe).
        %p
          The venue sometimes changes, so check our
          = link_to "http://www.facebook.com/groups/funtimecomics", "Facebook page"
          before you set out.

        %h3 Children
        %p
          Children are welcome, and artists often bring their own kids along. However a few points may be important:
        %ul
          %li Children must be accompanied by a parent or guardian.
          %li There's no organised programme of teaching: we're literally just a bunch of people who come to draw comics together.
          %li Some artists may be working on adult material.
          %li We can't guarantee that there will be other children present at any given workshop. We find things work best if children brign a friend or two with them.

        %h3 What to bring
        %ul
          %li Comics you're already working on
          %li Comics you've done in the past that you'd like to show people
          %li Pens and pencils and drawing implements
          %li Paper
          %li Snack food

        %h3 Jamming
        %p
          We usually pass around a few jam comics, where people take turns adding to an ongoing story. They're great if you're not sure where to start, or you need a warm-up.


      .col-md-4
        .photo_group.clearfix
          = image_tag "workshop1.jpg"
          = image_tag "workshop2.jpg"
          = image_tag "workshop3.jpg"
          = image_tag "workshop4.jpg"
          = image_tag "workshop5.jpg"
          = image_tag "workshop6.jpg"
          = image_tag "workshop7.jpg"

= render partial: "site/footer"