.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        Menu
      %a.navbar-brand{:href => "/"}
        = image_tag "logo.svg", class: "logo"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        = nav_link "Home", root_path
        = nav_link "Stories", stories_path
        = nav_link "Artists", people_path
        = nav_link "Issues", issues_path
        = nav_link "Workshops", "/workshops"
        = nav_link "Submissions", "/submissions"

    - flash.each do |name, msg|
      = content_tag :div, msg, class: name
