.section.stories
  .container
    .row
      .col-md-8
        %h2 Stories
        = render partial: "stories/featured_stories", object: @recent_stories, person: nil
      .col-md-4.col-sm-12
        = render partial: "issues/featured_issue", locals: { issue: @most_recent_issue }
    .row
      .col-md-12
        = render partial: "stories/stories", object: @stories, locals: {person: nil, link: true}

.section.people
  .container
    .row
      %h2 Artists
      .col-sm-12
        = render partial: "people/people", object: @people, locals: {link: true}

= render partial: "site/footer"
