.section.stories
  .container
    .row
      .col-md-8
        = render partial: "stories/featured_stories", object: recent_stories, person: nil
      .col-md-4.col-sm-12
        = render partial: "/promo"
    .row
      .col-md-12
        = render partial: "stories/stories", object: stories, person: nil

.section.people
  .container
    .row
      .col-md-12
        = render partial: "people/people", object: people

= render partial: "site/footer"
