.section.stories
  .container
    .row
      .col-md-2.col-sm-12
        .subtitle
          %h2 Stories
          = link_to "See All Stories", stories_path
      .col-md-10.col-sm-12
        = render partial: "stories/featured_stories", object: @recent_stories, person: nil
        = render partial: "stories/stories", object: @stories, person: nil

.section.people
  .container
    .row
      .col-md-2.col-sm-12
        .subtitle
          %h2 People
          = link_to "See All People", people_path
      .col-md-10.col-sm-12
        = render partial: "people/people", object: @people

= render partial: "site/footer"